html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    background-position: center;
    background-image: -webkit-linear-gradient(0deg, #776d8a 50%, #eeeeee 50%);
    font-family: Quicksand;
}

/* Navbar */

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    padding: 10px 30px;
    box-sizing: border-box;
}



nav ul {
    list-style: none;
    float: right;
    display: flex;
    margin: 0;
    padding: 0;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    line-height: 40px;
    color: #151515;
    padding: 8px 30px;
    text-decoration: none;
    text-transform: uppercase;
    transition: .5s;
}

nav ul li a:hover {
    font-size: 120%;
}

nav ul li a.active {
    background: #E2472F;
    color: #fff;
    border-radius: 6px;
}


/* Home page */

img {
    height: 300px;
    width: 300px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 1);
}


.intro-text {
    position: absolute;
    top: 180px;
    left: 20px;
    font-size: 30px;
    letter-spacing: 5px;
}

.intro-text span {
    color: #fff;
}

.icons ul li {
    list-style: none;
    padding: 20px 20px;
}

.icons ul li a {
    color: black;
}

.icons {
    float: right;
    position: relative;
    top: 160px;
    right: 20px;
}
